h1{
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: cornflowerblue;
}

h2{  
    text-align: center;
    font-size: 2rem;
    color:rgb(229, 245, 8);
    background-color:cornflowerblue;
}
.block{

    height: relative;
    background-color:cornflowerblue;
}
.paragraph-text {
    margin-top: 5rem;
}
