* {
  background-color:#fff;
  color: rgb(63, 63, 63);
}

main {
  font-family: 'roboto mono', Arial, Helvetica, sans-serif;
}
.container {
  margin: auto;
  max-width: 764px;
  font-family: 'poppins',sans-serif;
}

.heading {
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: cornflowerblue;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  background-color: cornflowerblue;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(63, 63, 63);
  text-decoration: none;
}
.nav-link-text:hover {
  font-size: 1.5rem;
    font-weight: bolder;
    transition: 0.2s;
}