* {
  background-color:#fdfdfd;
  color: #444444;
}
main {
  font-family: 'roboto mono','Segoe UI', Tahoma, Verdana, sans-serif;
}
h1{
  font-family: 'poppins', Arial, Helvetica, sans-serif;
}
.container {
  font-family: 'poppins','Segoe UI', Tahoma, Verdana, sans-serif;
  margin: auto;
  max-width: 1024px;
}
.nav-links {
  display: flex;
  padding-right: 1em;
  max-width: 50%;
  list-style: none;
  border: 5px solid rgba(125, 125, 225, 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 2px 1px rgba(95, 150, 160, 0.2);
}
.nav-link-item {
  padding-right: 1em;
}
.nav-link-text {
  font-size: 1.5rem;
  font-weight:600;
  text-decoration: none;
}
.nav-link-text:hover {
    font-size: 1.8rem;
    transition: 0.2s;
}